.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101820;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: white;
    background-attachment: fixed;
}

.grid {
    margin: 60px 4% 10px 10%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: blue;
    color: white;
    padding: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    width: 220px;
    height: 360px;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}

.card button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
}

.card:hover, button:hover {
    box-shadow: 0px 0px 30px #8ab661;
}

.card .img {
    margin: 5px;
    width: 265px;
    height: 265px;
    border-radius: 15px;
}

span {
    text-align: center;
}


.shop-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.shop-category {
    display: flex;
    gap: 5px;
    line-height: 1.6;
    font-size: 18px;
}

.shop-category i {
    position: relative;
    left: 5px;
    top: 5px;
}

.shop-title {
    margin: 30px 0px 60px 10%;
    font-weight: 500;
    font-size: 20px;
    font-family: Futura,Helvetica,sans-serif;
}

.display-total-count {
    display: inline-block;
    position: relative;
    left: 3px;
    bottom: 8px;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    padding: 2px 0px 0px 0px;
}

.display-item-count {
    display: inline-block;
    color: black;
    border-radius: 50%;
    width: 30px;
    background-color: #003ca6;
    color: white;
    border: 1px solid black;
    height: 30px;
    font-size: 25px;
    text-align: center;
    padding: 2px 0px 0px 0px;
}


.icons {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 33%;
    color: black;
}

i {
    cursor: pointer;
}

.icons i {
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

.icons i:hover {
    background-color: lightgray;
    transition: all 0.2s ease-in-out;
}

.navbar span {
    cursor: pointer;
    color: black;
}

#price {
    color: white;
    border-radius: 50%;
}

.card input {
    width: 20px;
    border: none;
    text-align: center;
    font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filler {
    height: 30px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filter span {
    margin: 10px 0px 0px 10%;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.filter select {
    margin: 10px 10% 0px 0px;
}

select {
    border: none;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    border-radius: 13px;
    padding: 10px;
}

#logo {
    width: 33%;
    text-align: center;
}

.navbar img {
    height: 80px;
    text-align: center;
}

.menu-icons, .mobile-icons {
    display: none;
}

#navbar-filler {
    width: 33%;
}


@media screen and (max-width: 950px) {
    #navbar-filler {
        display: none;
    }

    .menu-icons {
        display: block;
        width: 33%;
    }

    .fa-house, .fa-magnifying-glass, .fa-user {
        display: none;
    }

    #price {
        display: none;
    }

    .shop-navbar {
        display: none;
    }

    .mobile-icons + hr {
        display: none;
    }

    #logo img{
        height: 70%;
        width: 70%;
    }

    .mobile-icons {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: auto;
        opacity: 0;
        align-items: stretch;
        z-index: 1;
        left: -100%;
        transition: 0.3s ease-in-out;
    }

    .mobile-icons.active {
        left: 0;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar {
        margin-bottom: 0;
    }

    .mobile-icons a, .mobile-icons input {
        display: block;
        font-size: 1.2rem;
        padding: 1.2rem;
        text-align: center;
        background-color: #003ca6;
        color: white;
    }

    .mobile-icons a:hover {
        background-color: orange;
        color: #101820;
        transform: none;
    }

    .mobile-icons i {
        display: inline;
        color: inherit;
        margin-right: 10px;
    }

    input:focus {
        outline: none;
    }
}